body {
	background:radial-gradient(dimgray,ghostwhite);
	height: 100vh;
	width: 100vw;
}

#orangecircle {
	width: 250px;
	height: 250px;
	background:radial-gradient(circle,yellow,orangered);
	border-radius: 50%;

	position: absolute;
	top:500px;
	left:200px;
	box-shadow: 70px 30px 30px black;
}

#pear1 {
	width:120px;
	height:100px;
	background:radial-gradient(circle,yellowgreen,green);
	border-radius: 50%;

	position: absolute;
	top:715px;
	left:835px;
	rotate:10deg;
	box-shadow: 5px 10px 30px black;
}

#pear2 {
	width:300px;
	height:225px;
	background-color:lightgreen;
	border-radius: 50%;

	position: absolute;
	top:625px;
	left:600px;
	background:radial-gradient(circle,darkgreen,yellowgreen);
	box-shadow: 5px 10px 30px black;
}
#pear3 {
	width:90px;
	height:13px;
	background-color:saddlebrown;

	position: absolute;
	top:790px;
	left:950px;
	rotate:15deg;
	box-shadow: 20px 10px 15px black;
	rotate:25deg;
}

#purplebowl1 {
	width:380px;
	height:380px;
	border-radius: 40%;

	position: absolute;
	top:340px;
	left:500px;
	background:radial-gradient(circle,lavender,rebeccapurple);
	box-shadow: 5px 40px 30px black;
	overflow: hidden;
}

#purplebowl2 {
	width:300px;
	height:90px;
	border-radius: 50%;

	position: absolute;
	top:365px;
	left:550px;
	background:radial-gradient(circle,black,rebeccapurple);
	opacity:80%;

}

#purplecircle {
	width:500px;
	height:400px;
	border-radius: 50%;

	position: absolute;
	top:450px;
	left:500px;
	background:radial-gradient(circle,black,rebeccapurple);
	opacity:80%;
	
}




